@import "fonts";
@import "misure";

body{
    font-family: "Inter";
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
    color: black;
}

#heroSection{
    @include standardpadding;
}

#subHero>div{
    @include standardpadding;
}

#mainSection{
    @include standardpadding;
}

#carouselExample{
    width: 300px;
}
#carouselExample2{
    width: 300px;
}
#carouselExample3{
    width: 300px;
}
#carouselExample4{
    width: 300px;
}

#mainSection h3{
    padding-top: 3em;
}