<div class="container-fluid text-center">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 mt-4">
      <h1 class="text-danger">La scelta giusta per la tua nuova Auto</h1>
      <img
        src="../../../assets/imgs/kisspng-the-mp-car-group-car-dealership-vehicle-auto-detai-car-logo-5acc63ad77f7c6.9011992615233443014914.png"
        alt="logo" width="200px">
      <h3>I nostri marchi:</h3>
      <div class="row border-bottom border-top pt-3 pb-3">
        <div class="col-sm-4">
          <a routerLink="fiat"><img src="../../../assets/imgs/2048px-Logo_della_Fiat.svg.png" width="100px" alt=""></a>
        </div>
        <div class="col-sm-4 pt-4">
          <a routerLink="audi"><img src="../../../assets/imgs/Audi_logo_detail.svg.png" width="100px" alt=""></a>
        </div>
        <div class="col-sm-4 pt-4">
          <a routerLink="ford"><img src="../../../assets/imgs/Ford_Motor_Company_Logo.svg.png" width="100px" alt=""></a>
        </div>
      </div>
      <div>
        <h4 class="text-center mt-4">Auto in evidenza:</h4>
        <div class="row">
          <div class="col-sm-6 mb-5" *ngFor="let cars of rndCars">
            <div class="card" [ngClass]="{'bg-success': cars.available,'bg-danger': !cars.available}">
              <img src="{{cars.modelImage}}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">{{cars.brand}} {{cars.model}}</h5>
                <h5 class="card-title">anno:{{cars.year}}</h5>
                <p class="card-text">{{cars.price | currency : 'EUR'}}</p>
                <a [routerLink]="['/dettagli',cars.id]" class="btn btn-secondary">Vai ai dettagli</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
