<div id="hero" class="px-4 py-5 text-center">
  <img class="d-block mx-auto mb-4" src="../../assets/images/Blockbuster_logo.svg.png" alt="logo blkbst" width="20%">
  <h1 class="display-5 fw-bold"><strong>SblindolBuStEr</strong></h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4 fs-4">
      Nel mondo digitale dominato dalle streaming e dalla tecnologia moderna,
      <strong>SblindolBuStEr</strong> emerge come un eroe improbabile, un erede del glorioso passato dei blockbuster.
      Nato dalle ceneri dell'obsolescenza, il suo obiettivo è chiaro: riconquistare il mercato
      globale fornendo lettori VHS e cassette video a un mondo affamato di nostalgia.
      La sua produzione è unica, poiché le macchine e le VHS sono create artigianalmente
      da una squadra di scoiattoli addestrati, dando vita a un prodotto tanto eccentrico
      quanto affascinante. <strong>SblindolBuStEr</strong> non è solo un'alternativa alla modernità,
      ma una dichiarazione audace contro di essa.
    </p>
  </div>
</div>
