.menu{
    background-color: #fef7e2;
    border-radius: 30px;
    width: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu li {
    margin: 10px;
    list-style-type: none;
}

.menu a {
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 40px;
    background-color: #ffdf7f;
}

.menu a:hover {
    background-color: #f2e6c1;
}

.menu i {
    margin-right: 10px;
}

.menu>a>img{
    display: inline-block;
}