body{
    font-family: arial;
}

header{
    background-color: #222f3f;
}

#logo img{
    padding-left: 2em;
}

.startMenu{
    background-color: #364759;
    padding-left: 2em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

.startMenu a{
    color: white;
    text-decoration: none;
}
.startMenu li{
    display: inline;
    margin-right: 1em;
    font-size: small;
}


#arancio{
    background-color: #f56600;
    font-size: medium;
    color: white;
    text-align: center;
    margin: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#container{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 4em;
}
#container img{
    border-radius: 8%;
    object-fit: cover;
}

#regalo a{
    color: #1c6b77;
    text-decoration: none;
    padding-left: 0.5em;
    font-size: medium;
}

#regalo{
    padding-left: 4em;
    font-weight: bold;
    font-size: larger;
}

.verdone{
    background-image: url(../images/bg-image.png);  
    object-fit: cover;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 3em;
}
.verdone h2{
    margin-bottom: 0.8em;
    font-size: xx-large;
}

.compraOra{
    background-color: #ffffff;
}

#visore{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-weight: bold;
    font-size: larger;
}
#visore a{
    color: #1c6b77;
    text-decoration: none;
    margin-left: 0.5em;
    font-size: medium
}

#cuffie{
    text-align: center;
    padding-bottom: 2em;
    font-weight: bold;
    font-size: larger;
}
#cuffie a{
    color: #1c6b77;
    text-decoration: none;
    margin-left: 0.5em;
    font-size: medium
}

#foot1{
    text-align: center;
    background-color: #364759;
    padding-top: 1em;
    padding-bottom: 1em;
}
#foot1 a{
    color: white;
}


#foot2{
    text-align: center;
    background-color: #222f3f;
    padding-top: 3em;
    padding-bottom: 3em;
}