<footer class="mt-3 py-3 text-bg-dark">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a routerLink="/" class="nav-link px-2 text-light">Home</a></li>
    <li class="nav-item"><a routerLink="completed" class="nav-link px-2 text-light">Completed</a></li>
    <li class="nav-item"><a routerLink="left" class="nav-link px-2 text-light">Left</a></li>
    <li class="nav-item"><a routerLink="byusers" class="nav-link px-2 text-light">List By User</a></li>
    <li class="nav-item"><a routerLink="**" class="nav-link px-2 text-light">About Us</a></li>
  </ul>
  <p class="text-center text-light">© 2024 Sblindolo, Inc</p>
</footer>
