<div id="main" class="container-fluid">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-12 col-lg-4">
      <h1 class="text-center"> Effettua il login</h1>
      <h2 class="text-center">Inserisci i tuoi dati</h2>
      <form id="form" class="p-4 p-md-5 border rounded-3 mb-5 mt-3">
        <div class="form-floating mt-3 mb-3">
          <input
            type="email"
            name="email"
            [(ngModel)]="loginData.email"
            class="text-center form-control"
            placeholder="email"
          />
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mt-2 mb-3">
          <input
            type="password"
            name="password"
            [(ngModel)]="loginData.password"
            class="text-center form-control"
            placeholder="password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="text-center">
          <button (click)="signIn()" class="w-50 btn btn-lg btn-warning">
            Login
          </button>
          <hr class="my-4" />
          <small
            >By clicking Login, you agree to the terms of use of SblindolBuStEr.</small
          >
        </div>
      </form>
    </div>
  </div>
</div>
