<div class="container-fluid">
  <header class="d-flex flex-wrap justify-content-center py-3">
    <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="../../../assets/imgs/kisspng-the-mp-car-group-car-dealership-vehicle-auto-detai-car-logo-5acc63ad77f7c6.9011992615233443014914.png" alt="logo" width="45px">
      <span class="l-3 fs-4 ">Sblindolo RentAuto Company</span>
    </a>
    <ul class="nav nav-pills d-flex justify-content-center">
      <li class="nav-item"><a routerLink="/" class="nav-link text-black" aria-current="page">Home</a></li>
      <li class="nav-item"><a routerLink="fiat" class="nav-link text-black">Fiat <img src="../../../assets/imgs/2048px-Logo_della_Fiat.svg.png" width="25px" alt=""></a></li>
      <li class="nav-item"><a routerLink="audi" class="nav-link text-black">Audi <img src="../../../assets/imgs/Audi_logo_detail.svg.png" width="30px" alt=""></a></li>
      <li class="nav-item"><a routerLink="ford" class="nav-link text-black">Ford <img src="../../../assets/imgs/Ford_Motor_Company_Logo.svg.png" width="30px" alt=""></a></li>
    </ul>
  </header>
</div>
