<div id="main" class="container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card mt-5 mb-5">
        <div *ngIf="currentUser">
          <div class="card-body">
            <h5 class="card-title pt-4">{{ currentUser.firstname }} {{ currentUser.lastname }}</h5>
            <p class="card-text pt-3">Email: <br>{{ currentUser.email }}</p>
            <p class="card-text pt-3">Età: <br>{{ currentUser.age }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

