<div class="container-fluid" id="main">
  <div class="row text-center">
    <div *ngFor="let film of films" class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
      <div class="card mt-4">
        <img [src]="film.image" class="img-fluid" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ film.title }}</h5>
          <p class="card-text">Date: {{ film.date }}</p>
          <button class="btn btn-warning" >Aggiungi ai preferiti</button>
        </div>
      </div>
    </div>
  </div>
</div>
